.idea
mosi_utils_anim_t/*.pyc
mosi_utils_anim_t/*.pickle
mosi_utils_anim_t/*.spyderproject
mosi_utils_anim_t/*.spyderworkspace
mosi_utils_anim_t/*.idea
mosi_utils_anim_t/*.html
mosi_utils_anim_t/*.index
mosi_utils_anim_t/*.meta
mosi_utils_anim_t/*.data-00000-of-00001
mosi_utils_anim_t/*.gz
mosi_utils_anim_t/*.bin
mosi_utils_anim_t/.vscode/*
mosi_utils_anim_t/tornado_test*
mosi_utils_anim_t/data*
mosi_utils_anim_t/texdoc*
mosi_utils_anim_t/checkpoint
__pycache__