train_and_server/data/*
!train_and_server/data/README.txt
!train_and_server/data/dev/.gitkeep
.vscode
.idea

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

train_and_server/src/controlers/boxing/controller_in_out/*

train_and_server/saved_models/mann_tf2/*
!train_and_server//saved_models/mann_tf2/.gitkeep

train_and_server/saved_models/mann_tf2_v2/*
!train_and_server/saved_models/mann_tf2_v2/.gitkeep

local_dev_saved_models

.idea
data_prep/mosi_utils_anim_t/*.pyc
data_prep/mosi_utils_anim_t/*.pickle
data_prep/mosi_utils_anim_t/*.spyderproject
data_prep/mosi_utils_anim_t/*.spyderworkspace
data_prep/mosi_utils_anim_t/*.idea
data_prep/mosi_utils_anim_t/*.html
data_prep/mosi_utils_anim_t/*.index
data_prep/mosi_utils_anim_t/*.meta
data_prep/mosi_utils_anim_t/*.data-00000-of-00001
data_prep/mosi_utils_anim_t/*.gz
data_prep/mosi_utils_anim_t/*.bin
data_prep/mosi_utils_anim_t/.vscode/*
data_prep/mosi_utils_anim_t/tornado_test*
data_prep/mosi_utils_anim_t/data*
data_prep/mosi_utils_anim_t/texdoc*
data_prep/mosi_utils_anim_t/checkpoint
__pycache__